body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.choiceButtons{
    padding: 15px;
    margin: 15px;
}

.choiceButton{
    border: none;
    margin: 15px;
    padding: 15px;
}

.rock {
    background-color: gray;
}

.paper {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.scissors{
    background: rgb(14,30,198);
    background: linear-gradient(90deg, rgba(14,30,198,1) 40%, rgba(205,210,212,1) 54%);
    color: red;
}